<h1 class="mb-3">About Me</h1>
<p>My name is Mariam Mueen. I grew up here in Ontario, and love swimming, gardening, comics, and programming. I'm currently a student at Georgian College, in the Computer Programming Diploma Program. I plan to transition into a Comp Sci Degree from Lakehead University starting next summer.</p>
