<h1 class="mb-3">Contact Me</h1>
<form class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Mariam M</label>
    <input class="form-control" type="text" placeholder="Your name">
  </div>
  <div class="col-md-6">
    <label class="form-label">mariam_mueen@live.ca</label>
    <input class="form-control" type="email" placeholder="you@example.com">
  </div>
  <div class="col-12">
    <label class="form-label">Feel free to reach out! Always open to new opportunities! I'll try to respond within 24 hours.</label>
    <textarea class="form-control" rows="5" placeholder="Say hello!"></textarea>
  </div>
  <div class="col-12">
    {{!-- will add functionality soon!!! --}}
    <button class="btn btn-primary" type="submit" disabled>Submit (coming soon)</button>
  </div>
</form>
