<h1 class="mb-3">Projects</h1>
<ul class="list-group">
  <li class="list-group-item">Project 1 — brief description</li>
  <li class="list-group-item">Project 2 — brief description</li>
  <li class="list-group-item">Project 3 — brief description</li>
</ul>
{{!-- Will fill out w/ projects and links soon --}}